body {
  font-size: 10pt;
  font-family: Arial;
}

#deska {
  outline: 1px solid #3FA2B2;
  display: block;
  margin: 0;

  width: 1000px;
  height: 700px;

  /* vylepsení ostrosti na retina obrazovkách */
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;

  background-color: #8CC116; /* zelene pozadi */
  background-color: #0BAFAF;
}

main {
  display: grid;
  margin: auto;
  max-width: 1600px;
  height: 100vh;
  align-items: center;

  grid-template-columns: 1000px 600px;
  grid-template-rows: 75px 700px auto;

  grid-template-areas:
    "level ."
    "map editor"
    "levels controls";
}

#blockly {
  height: 700px;
  width: 600px;
}

.editor {
  height: 700px;
  outline: 1px solid #0BAFAF;
  grid-area: editor;
}

.mapa {
  height: 700px;
  grid-area: map;
}

.controls {
  grid-area: controls;
  align-self: start;
  justify-self: end;
}

.controls a {
  display: block;
  border: 1px dashed gray;
  padding: 14px;
  width: 100px;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
}

.levels {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -10px;
  grid-area: levels;
  align-self: start;
}

.level-details {
  display: flex;
  justify-content: flex-start;
  margin-left: -10px;
  grid-area: level;
}

.level {
  display: block;
  border: 1px dashed gray;
  flex-basis: 44px;
  padding: 14px 0;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  margin-left: 10px;
}

.level-details p {
  margin: 0;
  padding: 14px;
  border: 1px dashed gray;
  display: block;
  width: 100%;
  margin-left: 10px;
  margin-top: 10px;
  box-sizing: border-box;
}

small a {
  color: #0BAFAF;
}

small span {
  float: right;
}

small img {
  height: 1.5rem;
  vertical-align: middle;
}

.hidden {
  display: none;
}
