body {
  font-size: 10pt;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #0BAFAF; /* zelene pozadi */
}

#deska {
  display: block;
  margin: 0;
  box-sizing: border-box;
  /* vylepsení ostrosti na retina obrazovkách */
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  background-color: #0BAFAF;
}

#textarea {
  height: 698px;
  width: 498px;
  box-sizing: border-box;
  border: none;
  resize: none;
  overflow-x: scroll;
  padding: 10px;
  grid-area: editor;
}

main {
  display: grid;
  margin: auto;
  gap: 0 3vw;
  max-width: 1500px;
  align-items: center;

  grid-template-columns: 1000px auto;
  grid-template-rows: auto 700px auto 80px;
  box-sizing: border-box;

  grid-template-areas:
    "level ."
    "map editor"
    "levels controls"
    "credit blockly";
}

#blockly {
  height: 698px;
  width: 498px;
  box-sizing: border-box;
}

.editor {
  height: 700px;
  box-sizing: border-box;
  grid-area: editor;
}

.blocklySvg {
  background-color: rgba(94, 181, 189) !important;
  border: none;
  border-radius: 2px;
}


.mapa {
  height: 700px;
  grid-area: map;
}

.controls {
  grid-area: controls;
  align-self: start;
  justify-self: end;
}

.controls a {
  display: inline-block;
  background-color: #E4E4E4;
  min-width: 75px;
  padding: 14px;
  text-align: center;
  margin-top: 10px;
  margin-left: 8px;
  text-decoration: none;
}

.levels {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  grid-area: levels;
}

.level-details {
  grid-area: level;
}

.level {
  display: block;
  background-color: rgb(94, 181, 189);
  color: white;
  font-weight: bold;
  flex-basis: 55px;
  padding: 14px 0;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  margin-right: 10px;
  font-size: 1.5em;
  border-radius: 2px;
}

.level--solved {
  background-color: rgb(138, 171, 61);
}

.selected-level {
  background-color: rgb(74, 153, 150);  
}

a.level:hover {
  background-color: rgb(74, 153, 150);
}

.level-details p {
  margin: 0;
  background-color: #E4E4E4;
  display: block;
  width: 100%;
}

#level-id {
  font-size: 2em;
  color: white;
  margin-top: 2vw;
}

.authors {
  display: block;
  grid-area: credit;
  align-self: center;
}

.authors a {
  color: white;
}

small {color: white;}

.credit {
  grid-area: blockly;
  justify-self: end;
}

.credit img {
  height: 1.5rem;
  vertical-align: middle;
}

.hidden {
  display: none;
}

.button {
  border: none;
  font-size: 1.5em;
  color: white;
  border-radius: 2px;
}

#start, #stop {
  background-color: rgb(229, 133, 55);
}

#start:hover, #stop:hover {
  background-color: rgb(186, 105, 40);
}

#postup {
  background-color: rgb(94, 181, 189);
}

#postup:hover {
  background-color: rgb(74, 153, 150);
}

#stop {
  display: none;
}

#popis-levelu {
  background-color: #0BAFAF; /* zelene pozadi */
  border: none;
  color: white;
  font-size: 1.5em;
  margin-top: 0.5vw;
}
